<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.see_nior.seeniorClient.carelist.mapper.CareListMapper">

	<resultMap type="CareListCategoryDto" id="CareListCategoryDto">
		<id column="clc_no" property="clc_no" />
		<result column="clc_user_no" property="clc_user_no" />
		<result column="clc_name" property="clc_name" />
		<result column="clc_is_deleted" property="clc_is_deleted" />
		<result column="clc_reg_date" property="clc_reg_date" />
		<result column="clc_mod_date" property="clc_mod_date" />
	</resultMap>
	
	<resultMap type="CareListDto" id="CareListDto">
		<id column="cl_no" property="cl_no"/>
		<result column="cl_user_no" property="cl_user_no"/>
		<result column="cl_category_no" property="cl_category_no"/>
		<result column="cl_name" property="cl_name"/>
		<result column="cl_img" property="cl_img"/>
		<result column="cl_dir_name" property="cl_dir_name"/>
		<result column="cl_gender" property="cl_gender"/>
		<result column="cl_age" property="cl_age"/>
		<result column="cl_address" property="cl_address"/>
		<result column="cl_blood_type" property="cl_blood_type"/>
		<result column="cl_phone" property="cl_phone"/>
		<result column="cl_emergency_contact_1" property="cl_emergency_contact_1"/>
		<result column="cl_emergency_contact_2" property="cl_emergency_contact_2"/>
		<result column="cl_emergency_contact_3" property="cl_emergency_contact_3"/>
		<result column="cl_emergency_contact_4" property="cl_emergency_contact_4"/>
		<result column="cl_favor_food" property="cl_favor_food"/>
		<result column="cl_hate_food" property="cl_hate_food"/>
		<result column="cl_diabetic_food" property="cl_diabetic_food"/>
		<result column="cl_medications" property="cl_medications"/>
		<result column="cl_hospital" property="cl_hospital"/>
		<result column="cl_doctor" property="cl_doctor"/>
		<result column="cl_hospital_tel" property="cl_hospital_tel"/>
		<result column="cl_walk_state" property="cl_walk_state"/>
		<result column="cl_assistive_device" property="cl_assistive_device"/>
		<result column="cl_washing_assistance" property="cl_washing_assistance"/>
		<result column="cl_toilet_assistance" property="cl_toilet_assistance"/>
		<result column="cl_mental_state" property="cl_mental_state"/>
		<result column="cl_social_state" property="cl_social_state"/>
		<result column="cl_etc" property="cl_etc"/>
		<result column="cl_favorites" property="cl_favorites"/>
		<result column="cl_is_deleted" property="cl_is_deleted"/>
		<result column="cl_reg_date" property="cl_reg_date"/>
		<result column="cl_mod_date" property="cl_mod_date"/>
		<collection property="careListCategoryDto" resultMap="CareListCategoryDto" />
	</resultMap>
	
<!-- ////////////////////////////////////////// 케어리스트 카테고리 -->

	<!-- 케어리스트 카테고리명 중복 확인 -->
	<select id="isAdvertisementCategory"
			parameterType="Integer"
			resultType="boolean">
			
		SELECT 
			COUNT(*) 
		FROM 
			CARE_LIST_CATEGORY 
		WEHER 
			CLC_NAME = #{clc_name} 
		AND 
			CLC_USER_NO = #{u_no}
	
	</select>


	<!-- 케어리스트 카테고리 등록하기 -->
	<insert id="insertNewCareListCategory"
			parameterType="CareListCategoryDto">
			
		INSERT INTO 
			CARE_LIST_CATEGORY
			(CLC_USER_NO, CLC_NAME) 
		VALUES 
			(#{u_no}, #{clc_name})
	
	</insert>
	
	<!-- 모든 케어리스트 카테고리 가져오기 (케어리스트에서 <select> 박스)-->
	<select id="getCareListCategoryList"
			parameterType="Integer"
			resultMap="CareListCategoryDto">
	
		SELECT 
			* 
		FROM 
			CARE_LIST_CATEGORY 
		WHERE 
			CLC_IS_DELETED = 1 
		AND 
			CLC_USER_NO = #{u_no} 
		ORDER BY 
			CLC_NAME ASC
	
	</select>
	
	<!-- 모든 케어리스트 카테고리 가져오기 (페이지네이션) -->
	<select id="getCareListCategoryListWithPage"
			parameterType="Map"
			resultMap="CareListCategoryDto">
	
		SELECT 
			* 
		FROM 
			CARE_LIST_CATEGORY 
		WHERE 
			CLC_IS_DELETED = 1 
		AND 
			CLC_USER_NO = #{u_no} 
		ORDER BY 
			${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
	
	</select>
	
	<!-- 케어리스트 카테고리의 총 리스트 개수 구하기 -->
	<select id="getAllCareListCategoryCnt"
			parameterType="Integer"
			resultType="Integer">
			
		SELECT 
			CONUT(*) 
		FROM 
			CARE_LIST_CATEGORY 
		WHERE 
			CLC_IS_DELETED = 1 
		AND 
			CLC_USER_NO = #{u_no}
	
	</select>
	
	<!-- 케어리스트 카테고리 수정하기 -->
	<update id="updateCareListCategory"
			parameterType="CareListCategoryDto">
			
		UPDATE 
			CARE_LIST_CATEGORY 
		SET 
			CLC_NAME = #{clc_name}, 
			CLC_MOD_DATE = NOW() 
		WHERE 
			CLC_NO = #{clc_no}	
	
	</update>
	
	<!-- 케어리스트 카테고리 삭제하기 -->
	<update id="deleteCareListCategory"
			parameterType="Integer">
			
		UPDATE 
			CARE_LIST_CATEGORY 
		SET 
			CLC_IS_DELETED = 0, 
			CLC_MOD_DATE = NOW() 
		WHERE 
			CLC_NO = #{clc_no}
	
	</update>
	
	
<!-- ////////////////////////////////////////// 케어리스트 -->

	<!-- 페이지 번호에 따른 모든 케어리스트 가져오기 -->
	<select id="getCareListWithPage"
			parameterType="Map"
			resultMap="CareListDto">
			
		SELECT 
			CL.*, 
			CLC.* 
		FROM 
			CARE_LIST AS CL 
		JOIN 
			CARE_LIST_CATEGORY AS CLC 
		ON 
			CL.CL_CATEGORY_NO = CLC.CLC_NO 
		WHERE 
			CL.CL_IS_DELETED = 1 
		AND 
			CLC.CLC_IS_DELETED = 1 
		AND 
			CL.CL_USER_NO = #{u_no} 
		ORDER BY 
			CL.${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
	
	</select>
	
	<!-- 모든 케어리스트 총 개수 가져오기 -->
	<select id="getAllCareListCnt"
			parameterType="Integer"
			resultType="Integer">
			
		SELECT 
			COUNT(*) 
		FROM 
			CARE_LIST AS CL 
		JOIN 
			CARE_LIST_CATEGORY AS CLC 
		ON 
			CL.CL_CATEGORY_NO = CLC.CLC_NO 
		WHERE 
			CL.CL_IS_DELETED = 1 
		AND 
			CLC.CLC_IS_DELETED = 1 
		AND 
			CL.CL_USER_NO = #{u_no} 
	
	</select>
	
	<!-- 페이지 번호에 따른 카테고리별 케어리스트 가져오기 -->
	<select id="getCareListByCategoryWithPage"
			parameterType="Map"
			resultMap="CareListDto">
			
		SELECT 
			CL.*, 
			CLC.* 
		FROM 
			CARE_LIST AS CL 
		JOIN 
			CARE_LIST_CATEGORY AS CLC 
		ON 
			CL.CL_CATEGORY_NO = CLC.CLC_NO 
		WHERE 
			CL.CL_IS_DELETED = 1 
		AND 
			CLC.CLC_IS_DELETED = 1 
		AND 
			CL.CL_CATEGORY_NO = #{infoNo}
		AND 
			CL.CL_USER_NO = #{u_no} 
		ORDER BY 
			CL.${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
	
	</select>
	
	<!-- 카테고리별 케어리스트 총 개수 가져오기 -->
	<select id="getCareListByCategoryCnt"
			parameterType="Integer"
			resultType="Integer">

		SELECT 
			COUNT(*) 
		FROM 
			CARE_LIST AS CL 
		JOIN 
			CARE_LIST_CATEGORY AS CLC 
		ON 
			CL.CL_CATEGORY_NO = CLC.CLC_NO 
		WHERE 
			CL.CL_IS_DELETED = 1 
		AND 
			CLC.CLC_IS_DELETED = 1 
		AND 
			CL.CL_CATEGORY_NO = #{infoNo} 
		AND 
			CL.CL_USER_NO = #{u_no} 	
	
	</select>


</mapper>