<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.see_nior.seeniorClient.carelist.mapper.CareListMapper">

	<resultMap type="DiseaseCategoryDto" id="DiseaseCategoryDto">
		<id column="dc_no" property="dc_no" />
		<result column="dc_name" property="dc_name" />		
		<result column="dc_is_deleted" property="dc_is_deleted" />
		<result column="dc_item_cnt" property="dc_item_cnt" />
		<result column="dc_reg_date" property="dc_reg_date" />
		<result column="dc_mod_date" property="dc_mod_date" />
	</resultMap>

	<resultMap type="DiseaseDto" id="DiseaseDto">
		<id column="d_no" property="d_no" />
		<result column="d_category_no" property="d_category_no" />
		<result column="d_name" property="d_name" />
		<result column="d_info" property="d_info" />
		<result column="d_good_food" property="d_good_food" />
		<result column="d_bad_food" property="d_bad_food" />
		<result column="d_is_deleted" property="d_is_deleted" />
		<result column="d_reg_date" property="d_reg_date" />
		<result column="d_mod_date" property="d_mod_date" />
		<association property="diseaseCategoryDto" resultMap="DiseaseCategoryDto" />
	</resultMap>
	
	<resultMap type="CarePersonDiseaseDto" id="CarePersonDiseaseDto">
		<id column="cpd_no" property="cpd_no" />
		<result column="cpd_care_list_no" property="cpd_care_list_no" />
		<result column="cpd_disease_no" property="cpd_disease_no" />
		<result column="cpd_is_deleted" property="cpd_is_deleted" />
		<result column="cpd_reg_date" property="cpd_reg_date" />
		<result column="cpd_mod_date" property="cpd_mod_date" />
		<association property="diseaseDto" resultMap="DiseaseDto" />
	</resultMap>

	<resultMap type="CareListCategoryDto" id="CareListCategoryDto">
		<id column="clc_no" property="clc_no" />
		<result column="clc_user_no" property="clc_user_no" />
		<result column="clc_name" property="clc_name" />
		<result column="clc_item_cnt" property="clc_item_cnt" />
		<result column="clc_is_deleted" property="clc_is_deleted" />
		<result column="clc_reg_date" property="clc_reg_date" />
		<result column="clc_mod_date" property="clc_mod_date" />
	</resultMap>
	
	<resultMap type="CareListDto" id="CareListDto">
		<id column="cl_no" property="cl_no"/>
		<result column="cl_user_no" property="cl_user_no"/>
		<result column="cl_category_no" property="cl_category_no"/>
		<result column="cl_name" property="cl_name"/>
		<result column="cl_img" property="cl_img"/>
		<result column="cl_dir_name" property="cl_dir_name"/>
		<result column="cl_gender" property="cl_gender"/>
		<result column="cl_birth" property="cl_birth"/>
		<result column="cl_zip_code" property="cl_zip_code"/>
		<result column="cl_address" property="cl_address"/>
		<result column="cl_detailed_address" property="cl_detailed_address"/>
		<result column="cl_blood_type_rh" property="cl_blood_type_rh"/>
		<result column="cl_blood_type_abo" property="cl_blood_type_abo"/>
		<result column="cl_phone" property="cl_phone"/>
		<result column="cl_emergency_contact_1" property="cl_emergency_contact_1"/>
		<result column="cl_emergency_contact_2" property="cl_emergency_contact_2"/>
		<result column="cl_emergency_contact_3" property="cl_emergency_contact_3"/>
		<result column="cl_emergency_contact_4" property="cl_emergency_contact_4"/>
		<result column="cl_diabetic_food" property="cl_diabetic_food"/>
		<result column="cl_medications" property="cl_medications"/>
		<result column="cl_hospital" property="cl_hospital"/>
		<result column="cl_doctor" property="cl_doctor"/>
		<result column="cl_hospital_tel" property="cl_hospital_tel"/>
		<result column="cl_walk_state" property="cl_walk_state"/>
		<result column="cl_assistive_device" property="cl_assistive_device"/>
		<result column="cl_washing_assistance" property="cl_washing_assistance"/>
		<result column="cl_toilet_assistance" property="cl_toilet_assistance"/>
		<result column="cl_mental_state" property="cl_mental_state"/>
		<result column="cl_social_state" property="cl_social_state"/>
		<result column="cl_etc" property="cl_etc"/>
		<result column="cl_favorites" property="cl_favorites"/>
		<result column="cl_is_deleted" property="cl_is_deleted"/>
		<result column="cl_reg_date" property="cl_reg_date"/>
		<result column="cl_mod_date" property="cl_mod_date"/>
		<association property="careListCategoryDto" resultMap="CareListCategoryDto" />
		<collection property="carePersonDiseaseDtos" resultMap="CarePersonDiseaseDto" />
	</resultMap>
	
<!-- ////////////////////////////////////////// 케어리스트 카테고리 -->

	<!-- 케어리스트 카테고리명 중복 확인 -->
	<select id="isCareListCategory"
			parameterType="Map"
			resultType="boolean">
			
		SELECT 
			COUNT(*) 
		FROM 
			CARE_LIST_CATEGORY 
		WHERE 
			CLC_NAME = #{clc_name} 
		AND 
			CLC_USER_NO = #{u_no} 
		AND 
			CLC_IS_DELETED = 1 
	
	</select>


	<!-- 케어리스트 카테고리 등록하기 -->
	<insert id="insertNewCareListCategory"
			parameterType="CareListCategoryDto">
			
		INSERT INTO 
			CARE_LIST_CATEGORY
			(CLC_USER_NO, CLC_NAME) 
		VALUES 
			(#{u_no}, #{clc_name})
	
	</insert>
	
	<!-- 모든 케어리스트 카테고리 가져오기 (케어리스트에서 <select> 박스)-->
	<select id="getCareListCategoryList"
			parameterType="Integer"
			resultMap="CareListCategoryDto">
	
		SELECT 
			CLC.*, 
			(SELECT 
				COUNT(*) 
			FROM 
				CARE_LIST AS CL 
			WHERE 
				CL.CL_CATEGORY_NO = CLC.CLC_NO 
			AND 
				CL.CL_IS_DELETED = 1) AS CLC_ITEM_CNT 
		FROM 
			CARE_LIST_CATEGORY AS CLC 
		WHERE 
			CLC.CLC_IS_DELETED = 1 
	
	</select>

	<!-- 모든 케어리스트 카테고리 가져오기 (페이지네이션) -->
	<select id="getCareListCategoryListWithPage"
			parameterType="Map"
			resultMap="CareListCategoryDto">
		
		SELECT 
			CLC.*, 
			(SELECT 
				COUNT(*) 
			FROM 
				CARE_LIST AS CL 
			WHERE 
				CL.CL_CATEGORY_NO = CLC.CLC_NO 
			AND 
				CL.CL_IS_DELETED = 1) AS CLC_ITEM_CNT 
		FROM 
			CARE_LIST_CATEGORY AS CLC 
		WHERE 
			CLC.CLC_IS_DELETED = 1 
		
	</select>
 
	
	<!-- 케어리스트 카테고리의 총 리스트 개수 구하기 -->
	<select id="getAllCareListCategoryCnt"
			parameterType="Integer"
			resultType="Integer">
			
		SELECT 
			COUNT(*) 
		FROM 
			CARE_LIST_CATEGORY 
		WHERE 
			CLC_IS_DELETED = 1 
		AND 
			CLC_USER_NO = #{u_no}
	
	</select>
	
	<!-- 케어리스트 카테고리 한 개 가져오기 -->
	<select id="getCareListCategory"
			parameterType="Integer"
			resultMap="CareListCategoryDto">
			
		SELECT 
			CLC.*, 
			(SELECT 
				COUNT(*) 
			FROM 
				CARE_LIST AS CL 
			WHERE 
				CL.CL_CATEGORY_NO - CLC.CLC_NO 
			AND 
				CL.CL_IS_DELETED = 1) AS CLC_ITEM_CNT 
		FROM 
			CARE_LIST_CATEGORY AS CLC 
		WHERE 
			CLC.CLC_NO = #{clc_no}
	
	</select>
	
	<!-- 케어리스트 카테고리 수정하기 -->
	<update id="updateCareListCategory"
			parameterType="CareListCategoryDto">
			
		UPDATE 
			CARE_LIST_CATEGORY 
		SET 
			CLC_NAME = #{clc_name}, 
			CLC_MOD_DATE = NOW() 
		WHERE 
			CLC_NO = #{clc_no}	
	
	</update>
	
	<!-- 케어리스트 카테고리 삭제하기 -->
	<update id="deleteCareListCategory"
			parameterType="Integer">
			
		UPDATE 
			CARE_LIST_CATEGORY 
		SET 
			CLC_IS_DELETED = 0, 
			CLC_MOD_DATE = NOW() 
		WHERE 
			CLC_NO = #{clc_no}
	
	</update>
	
	
<!-- ////////////////////////////////////////// 케어리스트 -->

	<!-- 케어리스트 테이블의 maxNo값 구하기 -->
	<select id="getCareListMaxNo"
			resultType="Integer">
			
		SELECT 
			MAX(CL_NO) 
		FROM 
			CARE_LIST
	
	</select>
	
	<!-- 케어리스트 등록하기 -->
	<insert id="insertNewCareList"
			parameterType="CareListDto">
		
		INSERT INTO 
			CARE_LIST
			(CL_USER_NO, CL_CATEGORY_NO, CL_NAME, CL_GENDER, CL_BIRTH, 
			CL_ZIP_CODE, CL_ADDRESS, CL_DETAILED_ADDRESS, CL_BLOOD_TYPE_RH, CL_BLOOD_TYPE_ABO, CL_PHONE, 
			CL_EMERGENCY_CONTACT_1, CL_EMERGENCY_CONTACT_2, CL_EMERGENCY_CONTACT_3, CL_EMERGENCY_CONTACT_4, 
			CL_DIABETIC_FOOD, CL_MEDICATIONS, CL_HOSPITAL, 
			CL_DOCTOR, CL_HOSPITAL_TEL, CL_WALK_STATE, CL_ASSISTIVE_DEVICE, CL_WASHING_ASSISTANCE, 
			CL_TOILET_ASSISTANCE, CL_MENTAL_STATE, CL_SOCIAL_STATE, CL_ETC) 
		VALUES
			(#{cl_user_no}, #{cl_category_no}, #{cl_name}, #{cl_gender}, #{cl_birth}, 
			#{cl_zip_code}, #{cl_address}, #{cl_detailed_address}, #{cl_blood_type_rh}, #{cl_blood_type_abo}, #{cl_phone}, 
			#{cl_emergency_contact_1}, #{cl_emergency_contact_2}, #{cl_emergency_contact_3}, #{cl_emergency_contact_4}, 
			#{cl_diabetic_food}, #{cl_medications}, #{cl_hospital}, 
			#{cl_doctor}, #{cl_hospital_tel}, #{cl_walk_state}, #{cl_assistive_device}, #{cl_washing_assistance}, 
			#{cl_toilet_assistance}, #{cl_mental_state}, #{cl_social_state}, #{cl_etc})
			
	</insert>
	 
	<!-- 케어리스트 노인의 질환 insert하기 -->
	<insert id="insertNewCarePersonDisease"
			parameterType="Map">
			
		INSERT INTO
			CARE_PERSON_DISEASE
				(CPD_CARE_LIST_NO, CPD_DISEASE_NO) 
			VALUES
				(#{last_cl_no}, #{d_no})
	
	</insert>
	
	<!-- 케어리스트 테이블에 Img 관련 컬럼들 업데이트 -->
	<update id="updateImgColumn">
	
		UPDATE 
			CARE_LIST 
		SET 
			CL_DIR_NAME = #{cl_dir_name}, 
			CL_IMG  = #{cl_img} 
		WHERE 
			CL_NO = #{last_cl_no}
	
	</update>
	
	<!-- 케어리스트 즐겨찾기 ON / OFF -->
	<update id="updateCareListFavorites">
	
		UPDATE 
			CARE_LIST 
		SET 
			CL_FAVORITES = #{cl_favorites} 
		WHERE 
			CL_NO = #{cl_no}
	
	</update>
	

<!-- 
	<! 페이지 번호에 따른 모든 케어리스트 가져오기 >
	<select id="getCareListWithPage"
			parameterType="Map"
			resultMap="CareListDto">
			
		SELECT 
			CL.*, 
			CLC.* 
		FROM 
			CARE_LIST AS CL 
		JOIN 
			CARE_LIST_CATEGORY AS CLC 
		ON 
			CL.CL_CATEGORY_NO = CLC.CLC_NO 
		WHERE 
			CL.CL_IS_DELETED = 1 
		AND 
			CLC.CLC_IS_DELETED = 1 
		AND 
			CL.CL_USER_NO = #{u_no} 
		ORDER BY 
			CL.${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
	
	</select>
	
	<! 모든 케어리스트 총 개수 가져오기 >
	<select id="getAllCareListCnt"
			parameterType="Integer"
			resultType="Integer">
			
		SELECT 
			COUNT(*) 
		FROM 
			CARE_LIST AS CL 
		JOIN 
			CARE_LIST_CATEGORY AS CLC 
		ON 
			CL.CL_CATEGORY_NO = CLC.CLC_NO 
		WHERE 
			CL.CL_IS_DELETED = 1 
		AND 
			CLC.CLC_IS_DELETED = 1 
		AND 
			CL.CL_USER_NO = #{u_no} 
	
	</select>
 -->	
	
	<!-- 페이지 번호에 따른 카테고리별 케어리스트 가져오기 -->
	<select id="getCareListByCategoryWithPage"
			parameterType="Map"
			resultMap="CareListDto">
			
		SELECT 
			CL.*, 
			CLC.*, 
			CPD.*, 
			D.*, 
			DC.* 
		FROM 
			CARE_LIST AS CL 
		LEFT JOIN 
			CARE_LIST_CATEGORY AS CLC 
		ON 
			CL.CL_CATEGORY_NO = CLC.CLC_NO 
		AND 
			CLC.CLC_IS_DELETED = 1 
		LEFT JOIN 
			CARE_PERSON_DISEASE AS CPD 
		ON 
			CL.CL_NO = CPD.CPD_CARE_LIST_NO 
		LEFT JOIN 
			DISEASE AS D 
		ON 
			CPD.CPD_DISEASE_NO = D.D_NO 
		LEFT JOIN 
			DISEASE_CATEGORY AS DC 
		ON 
			D.D_CATEGORY_NO = DC.DC_NO 
		WHERE 
			CL.CL_IS_DELETED = 1 
		AND 
			CL.CL_USER_NO = #{u_no} 
		<choose>
		    <when test="infoNo != -1 and infoNo != 0">
		        AND CL.CL_CATEGORY_NO = #{infoNo}
		    </when>
		    <when test="infoNo == -1">
		        AND CL.CL_FAVORITES = 1 
		    </when>
		    <otherwise>
		    	AND (CL.CL_CATEGORY_NO IS NULL OR CL.CL_CATEGORY_NO >= 0) 
		    </otherwise>
		</choose>
		ORDER BY 
			CL.${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
	
	</select>
	
	<!-- 카테고리별 케어리스트 가져오기(페이지네이션 없음 -> 스케쥴 등록용) -->
	<select id="getCareListByCategory"
			parameterType="Map"
			resultMap="CareListDto">
		
		SELECT 
			CL.*, 
			CLC.*, 
			CPD.*, 
			D.*, 
			DC.* 
		FROM 
			CARE_LIST AS CL 
		LEFT JOIN 
			CARE_LIST_CATEGORY AS CLC 
		ON 
			CL.CL_CATEGORY_NO = CLC.CLC_NO 
		AND 
			CLC.CLC_IS_DELETED = 1 
		LEFT JOIN 
			CARE_PERSON_DISEASE AS CPD 
		ON 
			CL.CL_NO = CPD.CPD_CARE_LIST_NO 
		LEFT JOIN 
			DISEASE AS D 
		ON 
			CPD.CPD_DISEASE_NO = D.D_NO 
		LEFT JOIN 
			DISEASE_CATEGORY AS DC 
		ON 
			D.D_CATEGORY_NO = DC.DC_NO 
		WHERE 
			CL.CL_IS_DELETED = 1 
		AND 
			CL.CL_USER_NO = #{u_no} 
		<choose>
		    <when test="infoNo != -1 and infoNo != 0">
		        AND CL.CL_CATEGORY_NO = #{infoNo}
		    </when>
		    <when test="infoNo == -1">
		        AND CL.CL_FAVORITES = 1 
		    </when>
		    <otherwise>
		    	AND (CL.CL_CATEGORY_NO IS NULL OR CL.CL_CATEGORY_NO >= 0) 
		    </otherwise>
		</choose>
		ORDER BY 
			CL.${sortValue} ${order} 	
			
	</select>
	
	<!-- 카테고리별 케어리스트 총 개수 가져오기 -->
	<select id="getCareListByCategoryCnt"
			parameterType="Integer"
			resultType="Integer">

		SELECT 
			COUNT(*) 
		FROM 
			CARE_LIST AS CL 
		LEFT JOIN 
			CARE_LIST_CATEGORY AS CLC 
		ON 
			CL.CL_CATEGORY_NO = CLC.CLC_NO 
		AND 
			CLC.CLC_IS_DELETED = 1 
		WHERE 
			CL.CL_IS_DELETED = 1 
		AND 
			CL.CL_USER_NO = #{u_no} 
		<choose>
			<when test="infoNo != -1 and infoNo != 0">
				AND 
					CL.CL_CATEGORY_NO = #{infoNo} 
			</when>
			<when test="infoNo == -1">
		        AND CL.CL_FAVORITES = 1 
		    </when>
		</choose>
	
	</select>
	
	<!-- 케어리스트 한 개 가져오기 -->
	<select id="getCareListByNo"
			parameterType="Integer"
			resultMap="CareListDto">
		
		
	<!-- 	
		SELECT 
			CL.*, 
			CLC.* 
		FROM 
			CARE_LIST AS CL 
		LEFT JOIN 
			CARE_LIST_CATEGORY AS CLC 
		ON 
			CL.CL_CATEGORY_NO = CLC.CLC_NO 
		AND 
			CLC.CLC_IS_DELETED = 1 
		WHERE 
			CL.CL_NO = #{cl_no} 
	 -->
	 
		SELECT 
		    CL.*, 
		    CLC.*, 
		    CPD.*, 
		    D.*, 
		    DC.* 
		FROM 
		    CARE_LIST AS CL 
		LEFT JOIN 
		    CARE_LIST_CATEGORY AS CLC 
	    ON 
	    	CL.CL_CATEGORY_NO = CLC.CLC_NO 
		AND 
		    CLC.CLC_IS_DELETED = 1 
		LEFT JOIN 
		    CARE_PERSON_DISEASE AS CPD 
		ON 
			CL.CL_NO = CPD.CPD_CARE_LIST_NO 
		LEFT JOIN 
		    DISEASE AS D 
		ON 
			CPD.CPD_DISEASE_NO = D.D_NO 
		LEFT JOIN 
		    DISEASE_CATEGORY AS DC 
		ON 
			D.D_CATEGORY_NO = DC.DC_NO 
		WHERE 
		    CL.CL_NO = #{cl_no} 
		AND 
			CL.CL_USER_NO = #{u_no} 
	
	</select>
	
	<!-- 케어리스트 수정하기 -->
	<update id="updateCareList">
	
		UPDATE 
			CARE_LIST 
		SET 
			CL_CATEGORY_NO = #{cl_category_no},
			CL_NAME = #{cl_name},
			CL_IMG = #{cl_img},
			CL_NAME = #{cl_name},
			CL_DIR_NAME = #{cl_dir_name},
			CL_BIRTH = #{cl_birth},
			CL_ZIP_CODE = #{cl_zip_code},
			CL_ADDRESS = #{cl_address},
			CL_DETAILED_ADDRESS = #{cl_detailed_address},
			CL_BLOOD_TYPE_RH = #{cl_blood_type_rh},
			CL_BLOOD_TYPE_ABO = #{cl_blood_type_abo},
			CL_PHONE = #{cl_phone},
			CL_EMERGENCY_CONTACT_1 = #{cl_emergency_contact_1},
			CL_EMERGENCY_CONTACT_2 = #{cl_emergency_contact_2},
			CL_EMERGENCY_CONTACT_3 = #{cl_emergency_contact_3},
			CL_EMERGENCY_CONTACT_4 = #{cl_emergency_contact_4},
			CL_DIABETIC_FOOD = #{cl_diabetic_food},
			CL_MEDICATIONS = #{cl_medications},
			CL_HOSPITAL = #{cl_hospital},
			CL_DOCTOR = #{cl_doctor},
			CL_HOSPITAL_TEL = #{cl_hospital_tel},
			CL_WALK_STATE = #{cl_walk_state},
			CL_ASSISTIVE_DEVICE = #{cl_assistive_device},
			CL_WASHING_ASSISTANCE = #{cl_washing_assistance},
			CL_TOILET_ASSISTANCE = #{cl_toilet_assistance},
			CL_MENTAL_STATE = #{cl_mental_state},
			CL_SOCIAL_STATE = #{cl_social_state},
			CL_ETC = #{cl_etc},
			CL_FAVORITES = #{cl_favorites},
			CL_MOD_DATE = NOW() 
		WHERE 
			CL_NO = #{cl_no}
	
	</update>
	
	<!-- 케어리스트 노인의 질환 delete하기 -->
	<delete id="deleteCarePersonDisease">
	
		DELETE FROM 
			CARE_PERSON_DISEASE 
		WHERE 
			CPD_CARE_LIST_NO = #{cl_no} 
		AND 
			CPD_DISEASE_NO = #{d_no} 
	
	</delete>
	
	<!--  케어리스트 노인의 질환 insert하기(기존에 있던 노인) -->
	<insert id="insertCarePersonDisease">
	
		INSERT INTO
			CARE_PERSON_DISEASE
				(CPD_CARE_LIST_NO, CPD_DISEASE_NO) 
			VALUES
				(#{cl_no}, #{d_no})
	
	</insert>
	
	<!-- 케어리스트 삭제 하기 -->
	<update id="deleteCareList"
			parameterType="Integer">
			
		UPDATE 
			CARE_LIST 
		SET 
			CL_IS_DELETED = 0, 
			CL_MOD_DATE = NOW() 
		WHERE 
			CL_NO = #{cl_no}
	
	</update>


</mapper>