<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.see_nior.seeniorClient.user.mapper.UserMapper">


	<!-- 신규 회원 가입 -->
	<insert id="insertNewUser">
		
		INSERT INTO 
			USER_ACCOUNT(
				U_ID, 
				U_PW, 
				U_NAME, 
				U_PHONE, 
				U_NICKNAME, 
				U_GENDER, 
				U_BIRTH, 
				<if test="u_social_id != '' and u_social_id != null">
					U_SOCIAL_ID, 
				</if>
				<if test="u_zip_code != '' and u_zip_code != null">
					U_ZIP_CODE,
				</if>
				<if test="u_address != '' and u_address != null">
					U_ADDRESS,
				</if>
				<if test="u_detailed_address != '' and u_detailed_address != null">
					U_DETAILED_ADDRESS,
				</if>
				<if test="u_profile_img != '' and u_profile_img != null">
					U_PROFILE_IMG,
				</if>
				<if test="u_is_personal eq true">
					U_IS_PERSONAL  
				</if>
				<if test="u_is_personal eq false">
					U_IS_PERSONAL 
					<if test="u_company != null and u_company != ''">
				        , U_COMPANY
				    </if>
				</if>
			) 
		VALUES(
			#{u_id}, 
			#{u_pw}, 
			#{u_name}, 
			#{u_phone}, 
			#{u_nickname}, 
			#{u_gender}, 
			#{u_birth}, 
			<if test="u_social_id != '' and u_social_id != null">
				#{u_social_id}, 
			</if>
			<if test="u_address != '' and u_address != null">
				#{u_zip_code}, 
			</if>
			<if test="u_address != '' and u_address != null">
				#{u_address}, 
			</if>
			<if test="u_address != '' and u_address != null">
				#{u_detailed_address}, 
			</if>
			<if test="u_profile_img != '' and u_profile_img != null">
				#{u_profile_img}, 
			</if>
			<if test="u_is_personal eq true">
				1
			</if>
			<if test="u_is_personal eq false">
				0
				<if test="u_company != null and u_company != ''">
			        , #{u_company} 
			    </if>
			</if>
		)
	
	</insert>
	
	<!-- 아이디 중복 확인 -->
	<select id="isAccount">
	
		SELECT 
			COUNT(*) 
		FROM 
			USER_ACCOUNT 
		WHERE 
			U_ID = #{u_id} 
	
	</select>
	
	<!-- 내 정보 가져오기 by u_id -->
	<select id="selectUserAccountById"
			resultType="UserAccountDto">
	
		SELECT 
			* 
		FROM 
			USER_ACCOUNT 
		WHERE 
			U_IS_DELETED = 1 
		AND 
			U_ID = #{u_id} 
	
	</select>
	
	<!-- 내 정보 가져오기 by u_social_id -->
	<select id="selectUserAccountBySocialId"
			resultType="UserAccountDto">
	
		SELECT 
			* 
		FROM 
			USER_ACCOUNT 
		WHERE 
			U_IS_DELETED = 1 
		AND 
			U_SOCIAL_ID = #{u_social_id} 
	
	</select>
	
	<!-- u_nickname 중복 확인 -->
	<select id="isNickname">
	
		SELECT 	
			COUNT(*) 
		FROM 
			USER_ACCOUNT 
		WHERE 
			U_NICKNAME = #{u_nickname} 
	
	</select>
	
	<!-- 정보 수정 확인 -->
	<update id="updateUserAccount">
	
		UPDATE 
			USER_ACCOUNT 
		SET 
			U_MOD_DATE = NOW(), 
			U_NAME = #{u_name}, 
			U_PHONE = #{u_phone}, 
			U_NICKNAME = #{u_nickname}, 
			U_GENDER = #{u_gender}, 
			U_BIRTH = #{u_birth}, 
			<if test="u_zip_code != '' and u_zip_code != null">
				U_ZIP_CODE = #{u_zip_code}, 
			</if>
			<if test="u_address != '' and u_address != null">
				U_ADDRESS = #{u_address}, 
			</if>
			<if test="u_detailed_address != '' and u_detailed_address != null">
				U_DETAILED_ADDRESS = #{u_detailed_address}, 
			</if>
			<if test="u_profile_img != '' and u_profile_img != null">
				U_PROFILE_IMG = #{u_profile_img}, 
			</if>
			<if test="u_img_dir_name != '' and u_img_dir_name != null">
				U_IMG_DIR_NAME = #{u_img_dir_name}, 
			</if>
			<if test="u_is_personal eq true">
				U_IS_PERSONAL = 1
			</if>
			<if test="u_is_personal eq false">
				U_IS_PERSONAL = 0
				<if test="u_company != null and u_company != ''">
		            , U_COMPANY = #{u_company}
		        </if>
			</if>
		WHERE 
			U_ID = #{u_id}
	
	</update>
	
	<update id="updateUserPw">
	
		UPDATE 
			USER_ACCOUNT 
		SET 
			U_PW = #{u_pw}, 
			U_MOD_DATE = NOW()
		WHERE 
			U_ID = #{u_id} 
		
	</update>
	
	<select id="selectUserNoById">
	
		SELECT 
			U_NO 
		FROM 
			USER_ACCOUNT 
		WHERE 
			U_ID = #{u_id} 
	
	</select>
	
	<select id="isSocialId">
		
		SELECT 
			COUNT(U_SOCIAL_ID)
		FROM 
			USER_ACCOUNT 
		WHERE 
			U_SOCIAL_ID = #{u_social_id}
		AND 
			U_IS_DELETED = 1 
		
	</select>
	
	<update id="deleteUserAccountById">
	
		UPDATE 
			USER_ACCOUNT 
		SET 
			U_IS_DELETED = 0, 
			U_MOD_DATE = NOW() 
		WHERE 
			U_ID = #{u_id} 
		
	</update>
	
	<insert id="imgDeleteFail">
	
		INSERT INTO 
			IMG_DELETE_FAIL(IDF_FOLDER_PATH) 
		VALUES(#{idf_folder_path})
	
	</insert>
	
</mapper>