<!DOCTYPE html>
<html 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	this is seenior client sign up page. 
	
	<form action="/user/sign_up_confirm" name="sign_up_form" method="post">
	
		<input type="text" name="u_id" placeholder="input user id"><br>
		<input type="password" name="u_pw" placeholder="input user pw"><br>
		<input type="text" name="u_name" placeholder="input u_name"><br>
		<input type="text" name="u_phone" placeholder="input u_phone"><br>
		<input type="text" name="u_nickname" placeholder="input u_nickname"><br>
		<input type="text" name="u_gender" placeholder="input u_gender"><br>
		<input type="date" name="u_birth" placeholder="input u_birth"><br>
		<input type="text" name="u_address" placeholder="input u_address"><br>
		
		<input type="submit" value="sign_up">
		<input type="reset" value="reset">
	
	</form>
	
	<br>
	<a href="/">홈</a>
	<br>
	<a href="/user/sign_in_form">로그인</a>

</body>
</html>